:host
{

    .template-array
    {
        position: relative;
        display: inline-block;
        
        width: fit-content;
        
        min-width: calc(100% - var(--group-indentation) * 2);
        
        padding: 0em calc(var(--group-indentation) / 2);
        
        margin: 0em calc(var(--group-indentation) / 2);
        
        margin-bottom: var(--group-distantiation);
        
        background-color: var(--color-darker);
        
        border-left: 0.1em solid var(--color-main-lighten2);

        transition: border 300ms;


        .label
        {
            font-size: var(--label-fz, 1em);
            
            h1
            {
                margin: 0.2em 0em;
                margin-left: calc(var(--group-indentation) / (2 * 3));
                user-select: none;
                font-weight: normal;
                font-size: 3em;
                white-space: nowrap;
    
                cursor: pointer;
    
                color: var(--color-tomain)
            }
        }

        // .sub-form.no-select:not(:focus-within)
        // {
        //     opacity: 0.75;
        // }

        // .sub-form
        // {
            // transition: opacity 300ms;
        // }

        .list
        {
            margin: 0.6em calc(var(--group-indentation) / 2);
            min-height: 10em;
            border: 0.1em solid var(--color-main-lighten2);
            transition: border 300ms;

            max-height: 20em;
            overflow: auto;

            table
            {

                width: 100%;
                // background-color: ;
                border-collapse: collapse;
                border-spacing: 0;

                // tbody, thead tr { display: block; }
    
    
                thead
                {
                    tr
                    {
                        th
                        {
                            transition: color 300ms;
                            font-size: 1.7em;
                            color: var(--color-main-lighten2);
                            font-weight: normal;
                            user-select: none;
                            
                            white-space: nowrap;
                        }
                    }
                }

                tbody
                {

                    tr
                    {
                        
                        transition: background-color 300ms;
                        td
                        {
                            padding: 0.5 0.5em;
                            font-size: 1.7em;
                            text-align: center;
                            user-select: none;
                            cursor: pointer;

                            white-space: pre-line;
                        }
    
                    }
    
                    .selected
                    {
                        background-color: var(--color-main-lighten);
                    }
                }
                
            }
        }

        .buttons
        {
            display: flex;
            margin-bottom: 1.5em;

            .button
            {
                font-size: 0.8em;
                flex-grow: 1;
                padding: 0em 0.1em;
            }
        }

        .collapse-hitbox
        {
            position: absolute;
            height: 100%;
            width: 2em;
            left: -0.5em;
            cursor: pointer;
            // background-color: gray;
        }

        .uncollapse
        {
            position: absolute;
            height: 100%;
            width: 2em;
            left: -0em;
            
            cursor: pointer;

            display: grid;

            place-items: center;

            span
            {
                font-size: 2em;
                color: var(--color-main-lighten2);
                transition: color 300ms;

                user-select: none;
            }
        }
    }

    .template-array:hover
    {
        border-left: 0.1em solid var(--color-main-lighten3);

        .list
        {
            border: 0.1em solid var(--color-main-lighten3);

            table
            {    
                thead
                {
                    tr
                    {
                        th
                        {
                            font-size: 1.7em;
                            color: var(--color-main-lighten3);
                            font-weight: normal;
                            user-select: none;
                        }
                    }
                }
            }
        }

        .uncollapse
        {
            span
            {
                color: var(--color-highlight);
            }
        }
    }

    .template-array:focus-within
    {
        border-left: 0.1em solid var(--color-highlight);

        .list
        {
            border: 0.1em solid var(--color-highlight);

            table
            {    
                thead
                {
                    tr
                    {
                        th
                        {
                            font-size: 1.7em;
                            color: var(--color-main-lighten3);
                            font-weight: normal;
                            user-select: none;
                        }
                    }
                }
            }
        }
    }

    .valid
    {
        border-left: 0.1em solid var(--color-valid);

        .list
        {
            border: 0.1em solid var(--color-valid);
        }
    }

    .valid:hover
    {
        border-left: 0.1em solid var(--color-valid-lighten);

        .list
        {
            border: 0.1em solid var(--color-valid-lighten);
        }
    }

    .valid:focus-within
    {
        border-left: 0.1em solid var(--color-valid-lighten2);

        .list
        {
            border: 0.1em solid var(--color-valid-lighten2);
        }
    }
}