<div class="template-array" [class.valid]="formArrayValid"  (clickOut)="onClickOut()">
    
    <div class="collapse-hitbox" (click)="toggleCollapse()"></div>

    <div class="uncollapse" [display]="collapse" (click)="toggleCollapse()">
        <span>
            +
        </span>
    </div>
    
    <div class="label">
        <h1 (click)="toggleCollapse()">
            {{label}}
        </h1>
    </div>

    <div class="content" [display]="!collapse">

        <div class="list" *ngIf="_sync">
    
            <table>
    
                <thead>
                    <tr>
                        <th *ngIf="flatItems.length===0">n°</th>
                        <th *ngFor="let item of flatItems">{{getItemLabel(item)}}</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr *ngFor="let element of formControl.value; let i = index" [class.selected]="selected === i" (click)="select(i, element)">
                        <td *ngIf="flatItems.length===0">{{i}}</td>
                        <td *ngFor="let item of flatItems">
                            <span>{{getStringFromValue(getValue(element, item.path))}}</span>
                        </td>
                        
                    </tr>
                </tbody>
                
            </table>
    
        </div>
    
        <div class="sub-form" [class.no-select]="selected===undefined">
            
            <forms-template-form class="contained" *ngIf="templateArray?.subForm !== undefined" [template]="templateArray.subForm" (form)="onSubForm($event)"></forms-template-form>
        
        </div>
        
        <div class="buttons" *ngIf="_sync">
            <div class="button" *ngIf="controlAdd" (mouseOverStill)="mouseOverStillAdd($event)" [mouseOverStillTime]="1000">
                <forms-button [disabled]="!subValid || !addValidity || !addMaxValidity" (onClick)="addCurrentElement()">{{'Add' | translate}}</forms-button>
            </div>
            <div class="button" *ngIf="selected !== undefined && controlUpdate" (mouseOverStill)="mouseOverStillUpdate($event)" [mouseOverStillTime]="1000">
                <forms-button  [disabled]="!subValid || !updateValidity" (onClick)="updateSelected()">{{'Update' | translate}}</forms-button>
            </div>
            <div class="button" *ngIf="selected !== undefined && controlDelete">
                <forms-button (onClick)="removeElement(selected)">{{'Delete' | translate}}</forms-button>
            </div>
        </div>
    </div>

</div>