<div class="clients">
    <div class="left-pannel">
        <div class="controls">
            <div class="add-client">
                Add client
            </div>
        </div>
        <div class="list">
            @for (client of clients; track client._id; let index = $index) 
            {
                <div class="client" (click)="select(client, index)" [class.selected]="index === selected">
                    <div class="label">
                        {{client.prenom}} {{client.nom}}
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="display-zone">
        @if(selectedClient !== undefined)
        {
            <lioa-client-form [client]="selectedClient"></lioa-client-form>
        }
    </div>
</div>