:host
{
    .clients
    {
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: row;

        .left-pannel
        {
            display: flex;
            flex-direction: column;

            .controls
            {
                padding: 1em;
            }

            .list
            {
                flex-grow: 1;
                overflow: auto;

                padding: 0.5em;

                .client
                {
                    margin: 0.2em;

                    padding: 1em;

                    width: calc(100% - 3em);

                    background-color: var(--color-master);

                    border-radius: 0.5em;

                    border: 0.3em solid transparent;

                    transition: 150ms border;

                    .label
                    {
                        font-size: 1.5em;
                        user-select: none;
                    }
                }

                .client:hover
                {
                    border: 0.3em solid var(--color-half-accent);
                }

                .client.selected
                {
                    border: 0.3em solid var(--color-accent);
                }
            }
        }

        .display-zone
        {
            flex-grow: 1;
        }
    }
}