:host
{
    .text-input
    {
        position: relative;

        input
        {

            // text-shadow: 0em 0em 0.28em var(--color-tomain-shadow);
            padding: 0px;

            // border-radius: 4px;

            font-size: 2.2em;

            outline: none !important;
            // border: none;
            border: 0px;

            border-bottom: 1px solid var(--color-main-lighten2);
            background-color: transparent;
            color: var(--color-tomain) ;
            transition: all 0.3s;

            display: inline-block;

            width: calc(100% - (2em / 2.2));
            // calc(25em / 2.2);
        }

        .input:placeholder-shown
        {
            border-color: var(--color-main-lighten2) !important;
        }

        .input:hover
        {
            border-color: var(--color-main-lighten3) ;
        }

        .input:focus, input:focus:hover
        {
            border-bottom: 1px solid var(--color-highlight);
        }

        .input:focus:invalid
        {
            border-color: var(--color-danger) !important;
        }


        .input:invalid
        {
            border-color: var(--color-danger);
        }

        span
        {
            position: fixed;
            opacity: 0;
            white-space: nowrap;
            z-index: -100;
            bottom: 100%;
            right: 100%;
            font-size: 2.24em;
        }
        forms-button
        {
            display: inline-block;
            position: absolute;
            svg
            {
                top: 0;
                left: 0;
                width: 0.7em;
                height: 0.7em;
                fill: var(--color-accent);
            }
        }

        .secret
        {
            // display: inline-block;
            position: absolute;
            height: 2.5em;
            width: 2.5em;

            top: 0em;
            right: 2em;

            svg
            {
                width: 2.5em;
                height: 2.5em;
                fill: var(--color-main-lighten2);

                transition: fill 150ms;
            }
        }

        .secret:hover
        {
            svg
            {
                fill: var(--color-main-lighten3);
            }
        }
        // .text-secret
        // {
        //     font-size: 0.7em;
        // }
    }

    .text-input.disabled
    {
        pointer-events: none;

        .input
        {
            border-bottom: 1px solid var(--color-disabled);
            color: var(--color-disabled);
        }
    }
}

:host-context(.ng-invalid.ng-touched)
{
    .text-input
    {
        .input
        {
            border-bottom: 1px solid var(--color-danger);
        }
    }
}

:host-context(.invalid)
{
    .text-input
    {
        .input
        {
            border-bottom: 1px solid var(--color-danger);
        }
    }
}


:host-context(.display)
{
    .text-input
    {
        pointer-events: none;

        .input
        {
            border-bottom: none;
            word-wrap: break-word;
            word-break: break-all;
        }
    }
}




:host-context(.full-width)
{
    .text-input
    {
        width: 100%;
        .input
        {
            width: 100%;
        }
    }
}


:host-context(.no-border)
{
    .text-input
    {
        .input
        {
            border-bottom: none;
        }

        .input:placeholder-shown
        {
            border-bottom: none !important;
        }

        .input:hover
        {
            border-bottom: none;
        }

        .input:focus, input:focus:hover
        {
            border-bottom: none;
        }

        .input:focus:invalid
        {
            border-bottom: none !important;
        }


        .input:invalid
        {
            border-bottom: none;
        }

    }
}
