<div class="text-input" [class.disabled]="disabled">
    <input
    class="input"
    autocomplete="off"
    type="text"
    spellcheck="false" [(ngModel)]="text"
    (blur)="onTouched()"
    (keydown)="resize($event)"
    [disabled]="disabled"
    (blur)="onBlur()" #input>
    <span #measure></span>
    <forms-button *ngIf="isRegExp" [transparent]="true" (onClick)="openRegExModal()">
      <svg viewBox="0 0 64 64">
        <use xlink:href="assets/svg/popout.svg#default"></use>
      </svg>
    </forms-button>
    <div *ngIf="secret && !disabled && !onlyDisplay" [transparent]="true" (click)="onSecretStateChange()" class="secret">
      <svg viewBox="0 0 64 64">
        <use xlink:href="assets/svg/eye.svg#default"></use>
      </svg>
    </div>
    <!-- <div *ngIf="secret && !disabled && !onlyDisplay" class="text-secret">
      <forms-check-input [label]="'Show secret' | translate" [(ngModel)]="showSecret" (ngModelChange)="onSecretStateChanged()" ></forms-check-input>
    </div> -->
</div>
