:host
{
    .template-interface
    {
        width: calc(28em + var(--group-indentation));
        
        padding: 0 calc(var(--group-indentation) / 2);
        
        .template-input
        {
            // width: 25em;

            .no-label
            {
                display: flex;
                position: relative;
                width: 100%;

                .help-nl
                {
                    height: 100%;
                    
                    svg
                    {
                        width: 1.2em;
                        height: 1.2em;
                        transition: fill 300ms;
                        fill: var(--color-main-lighten2)
                    }
                }

                .help-content
                {
                    z-index: 10;
                    white-space: pre-line;
                    transition: opacity 300ms;
                    top: 1em;
                    position: absolute;
                    width: calc(100% - 0.8em);
                    // opacity: none;
                    pointer-events: none;

                    font-size: 1.5em;
                    color: var(--color-main-lighten2);

                    background-color: var(--color-main);
                    padding: 0.4em;
                    box-shadow: 0 0 0.2em var(--color-tomain-shadow);
                    opacity: 0;
                }
                .help-validity
                {
                    position: absolute;
                }

                .input-cn
                {
                    width: 100%;
                }

            }

            .with-label
            {
                position: relative;
                
                .label
                {
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    white-space: nowrap;
                    // height: 2em;
                    // display: block;
    
                    label
                    {
                        // position: absolute;
                        // font-size: 2.2em;
                        // bottom: 0em;
                        // margin: 0em;
    
                        display: block;
                        font-size: 1.5em;
                        user-select: none;
    
                        color: var(--color-main-lighten2);
                        transition: all 300ms;
                    }

                   

                    .help
                    {
                        width: 1.2em;
                        height: 1.2em;

                        svg
                        {
                            transition: fill 300ms;
                            fill: var(--color-main-lighten2)
                        }
                    }

                    .help:hover
                    {
                        svg
                        {
                            fill: var(--color-highlight)
                        }
                    }

                    .help-content
                    {
                        z-index: 10;
                        white-space: pre-line;
                        transition: opacity 300ms;
                        top: 100%;
                        position: absolute;
                        width: calc(100% - 0.8em);
                        // opacity: none;
                        pointer-events: none;

                        font-size: 1.5em;
                        color: var(--color-main-lighten2);

                        background-color: var(--color-main);
                        padding: 0.4em;
                        box-shadow: 0 0 0.2em var(--color-tomain-shadow);
                        opacity: 0;
                    }

                    .help-validity
                    {
                        position: absolute;
                    }
                }
            }

            
        }

        .template-input.disabled, .template-input.disabled:hover
        {
            .with-label
            {
                .label
                {
                    label
                    {
                        color: var(--color-disabled);
                    }
    
                    .help
                    {
                        svg
                        {
                            fill: var(--color-disabled);
                        }
                    }
                }
            }
        }

        .template-input:focus-within
        {
            .with-label
            {
                .label
                {
                    label
                    {
                        // bottom: calc(100% - 1.5em);

                        color: var(--color-main-lighten3);
                    }
                }
            }
        }

        .template-input:hover
        {
            .with-label
            {

                .label
                {
                    label
                    {
                        color: var(--color-main-lighten3);
                    }
                }
            }
        }

        .unvalid
        {
            position: relative;
            transition: opacity 150ms;


            p
            {
                top: 0em;
                position: absolute;
                width: 100%;
                // height: 100%;
                overflow: visible;
                margin-top: 0.1em;
                font-size: 1.2em;
                color: var(--color-danger);
                background-color: var(--color-main);
                border-radius: 0.5em;
                // box-shadow: 0 0 0.3em 0.2em var(--color-main);
            }
        }
        .unvalid.display
        {
            height: 0.5em;
        }
     
    }

 
    .template-interface.double-width
    {
        width: calc(56em + (var(--group-indentation) * 2));
        
        .template-input
        {
            width: calc(56em + var(--group-indentation) * 2)
        }
    }
}



