<div *ngIf="templateItem.interface" class="template-interface" [class.double-width]="doubleWidth">
    <div *ngIf="templateItem.interface.type === 'input' ||templateItem.interface.type === 'display'" [ngSwitch]="templateInput.input" class="template-input" [class.disabled]="formControl.disabled">

        <div *ngIf="inputHasLabel[templateInput.input]" class="no-label">
            <div class="input-cn">

                <forms-check-input class="form" [class.display]="inDisplay" [class.label-inline]="asInputCheck.inline"  [class.label-above]="!asInputCheck.inline" class="small-label" [label]="inputLabel" *ngSwitchCase="'checkbox'" [formControl]="this.formControl"></forms-check-input>

                <forms-toggle-input class="form" [class.display]="inDisplay" [class.label-inline]="asInputCheck.inline"  [class.label-above]="!asInputCheck.inline" class="small-label" [label]="inputLabel" *ngSwitchCase="'toggle'" [formControl]="this.formControl"></forms-toggle-input>

                <forms-check-group-input class="form" [class.display]="inDisplay" [elements]="asInputCheckGroup.elements" [label]="inputLabel" [formControl]="this.formControl" *ngSwitchCase="'check-group'"></forms-check-group-input>

            </div>
            <div class="help-nl" *ngIf="this.templateInterface.help !== undefined || hasValidator(this.templateInterface?.validator)" (mouseenter)="helpMouseEnter()" (mouseleave)="helpMouseLeave()">
                <svg viewBox="0 0 64 64">
                    <use xlink:href="assets/svg/info.svg#outline"></use>
                </svg>
            </div>

            <div class="help-content" [hide]="showHelp" >
                {{intefaceHelp}}
                <span>{{validatorHelpText}}</span>
            </div>

            

            <!-- forms-check-group-input -->
        </div>

        <div *ngIf="!inputHasLabel[templateInput.input]" class="with-label">

            <div class="label">
                <label>
                    {{inputLabel}}
                </label>

                <div class="help" *ngIf="this.templateInterface.help !== undefined || hasValidator(this.templateInterface?.validator)" (mouseenter)="helpMouseEnter()" (mouseleave)="helpMouseLeave()">
                    <svg viewBox="0 0 64 64">
                        <use xlink:href="assets/svg/info.svg#outline"></use>
                    </svg>
                </div>

                <div class="help-content" [hide]="showHelp" >
                    {{intefaceHelp}}
                    <span>{{validatorHelpText}}</span>
                </div>
            </div>

            <forms-text-input class="form" [class.display]="inDisplay" *ngSwitchCase="'text'" [autoFocus]="asInputText.focus" [onlyDisplay]="inDisplay" [formControl]="this.formControl" [secret]="asInputText.secret" [isRegExp]="asInputCheck.isRegExp"></forms-text-input>

            <forms-text-area class="form" [class.display]="inDisplay" *ngSwitchCase="'text-area'"  [formControl]="this.formControl"></forms-text-area>

            <forms-nb-input class="form" [class.display]="inDisplay" *ngSwitchCase="'number'" [onlyDisplay]="inDisplay" [formControl]="this.formControl" [min]="asInputNumber.min" [hardStep]="asInputNumber.hardStep" [max]="asInputNumber.max" [step]="asInputNumber.step" [defaultSuffix]="asInputNumber?.suffix" [integer]="asInputNumber?.validator?.isInt"></forms-nb-input>

            <forms-ip-input class="form" [class.display]="inDisplay" *ngSwitchCase="'ip'" [onlyDisplay]="inDisplay" [port]="asInputIp.port===true" [mode]="asInputIp.mode" [formControl]="this.formControl"></forms-ip-input>

            <forms-list-selection-input class="fixed middle" [class.display]="inDisplay" *ngSwitchCase="'selection-list'" [formControl]="this.formControl" [fieldLabels]="asSelectionList.fieldLabels" [elementsLabel]="asSelectionList.elementsLabel" [selectionLabel]="asSelectionList.selectionLabel" [elements]="asSelectionList.elements"></forms-list-selection-input>

            <forms-drop-down-list [class.display]="inDisplay" class="form" *ngSwitchCase="'drop-down'" [elements]="asInputDropDown.elements" [selected]="templateItem.value" [formControl]="this.formControl"></forms-drop-down-list>

            <forms-suggest-drop-down [class.display]="inDisplay" class="form" *ngSwitchCase="'suggest-drop-down'" [editable]="asInputSuggestDropDown.editable" [elements]="asInputDropDown.elements" [selected]="templateItem.value" [formControl]="this.formControl"></forms-suggest-drop-down>

            <forms-mobi-date-input class="form" [class.display]="inDisplay" [asTimeStamp]="true" [time]="asInputDate.time" *ngSwitchCase="'date'"  [formControl]="this.formControl"></forms-mobi-date-input>

            <forms-mobi-date-range-input class="fixed" [class.display]="inDisplay" [asTimeStamp]="true" [time]="asInputDate.time" *ngSwitchCase="'date-range'"  [formControl]="this.formControl"></forms-mobi-date-range-input>

            <forms-list-display  class="fixed middle" [class.display]="inDisplay" *ngSwitchCase="'list-display'" [formControl]="this.formControl" [fieldLabels]="asSelectionList.fieldLabels" [elementsLabel]="asSelectionList.elementsLabel" ></forms-list-display>


            <!-- <div *ngSwitchCase="'list-display'">
                aipsdjipàasjdàaskdàkasokdlaspd
            </div>

            <div *ngIf="'list-display'">
                aipsdjipàasjdàaskdàkasokdlaspd
            </div> -->

        </div>

    </div>

    <div class="unvalid" [class.display]="inDisplay" [hide]="this.formControl.touched && this.formControl.invalid">
        &nbsp;
        <p>
            {{invalidMsg}}
        </p>
    </div>

</div>
