:host
{
    .c
    {
        height: 100%;
        width: 100%;
        position: relative;
        display: grid;
        place-items: center;

        .calendar
        {
            display: inline-block;
    
            min-width: 332px;
            min-height: 382px;
    
            overflow: hidden;

            position: relative;
    
            // transform: scale(0.5);

            .local-controller
            {
                position: absolute;

                top: 0.5em;
                right: 0.5em;

                --color-tomain: var(--color-main-lighten2);

                font-size: 0.7em;
            }
        }
    
        .calendar.auto-size
        {
            
            min-width: unset;
            min-height: unset;
    
            width: 480px;
            height: 382px;
            position: absolute;
        }
    
    
        .calendar.disabled
        {
            user-select: none;
            pointer-events: none;
            opacity: 0.6;
        }

    }
}


:host(.fixed)
{
    .c
    {
        width: 480px;
        height: 382px;
        position: relative;
        display: grid;
        place-items: center;

        .calendar
        {
            display: inline-block;
    
            min-width: 480px;
            min-height: 382px;
    
            overflow: hidden;
    
            // transform: scale(0.5);
        }
    
        .calendar.auto-size
        {
            
            min-width: unset;
            min-height: unset;
    
            width: 480px;
            height: 382px;
            position: absolute;
        }
    
    
        .calendar.disabled
        {
            user-select: none;
            pointer-events: none;
            opacity: 0.6;
        }

    }
}