<div class="elements" [ngSwitch]="templateElement?.type">
    <forms-template-group [parentFormGroup]="parentFormGroup" [message]="message" *ngSwitchCase="'group'" [templateGroup]="asGroup"></forms-template-group>
    <forms-template-layout [parentFormGroup]="parentFormGroup" [message]="message" *ngSwitchCase="'layout'" [templateLayout]="asLayout"></forms-template-layout>
    <forms-template-item [parentFormGroup]="parentFormGroup" [message]="message" *ngSwitchCase="'item'" [templateItem]="asItem"></forms-template-item>
    <forms-template-array [parentFormGroup]="parentFormGroup" [message]="message" *ngSwitchCase="'array'" [templateArray]="asArray"></forms-template-array>  
    <forms-text-display *ngSwitchCase="'text-display'" [enabled]="enabled" [text]="asTextDisplay.text" ></forms-text-display>
</div>
