<div class="button" [class.down]="down" [class.hard]="hard" [class.disabled]="disabled" [class.transparent]="transparent" (mouseup)="onMouseUp($event)" (mousedown)="onMouseDown($event)">
    
    <div class="background"></div>
    
    <div class="foreground"></div>

    <div class="hardel"></div>

    <div class="content" [class.noPadding]="!text">
        <div [class.contentCn]="text" [class.hidden]="working">
            <ng-content ></ng-content>
        </div>
        <div class="loaderCn" *ngIf="working">
            <util-loader></util-loader>
        </div>
    </div>
</div>