:host
{ 
    --hard-animation-time: 3000ms;

    .button
    {
        overflow: hidden;

        display: grid;
        place-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;



        
        .content
        {
            user-select: none;
            width: calc(100% - 0.6em);
            border-radius: 0.4em;
            
            
            position: relative;
            
            margin: 0em auto;
            
            padding: 0 0.3em;
            display: inline-block;
            
            font-size: 2.2em;
            font-weight: 500;
            
            color: var(--color-text-button, var(--color-tomain));
            
            transition: all 0.3s;
            
            height: 100%;
            
            
            white-space: nowrap;
            
            .contentCn
            {
                color: var(--color-text-button, var(--color-tomain));
                
                text-align: center;
                margin: 0.15em auto;
            }
            
            //Keep the min text width
            .hidden
            {
                opacity: 0;
                height: 0em;
                margin: 0em 0em;
                padding: 0em;
                // display: none;
            }

            
            .loaderCn
            {
                height: 1em;
                width: 1.5em;
                margin: 0.27em auto;

                --color-loader: var(--color-text-button, var(--color-tomain));
            }
        }

        .noPadding
        {
            padding: 0 !important;
            text-align: center;
        }

        .background
        {
            border-radius: 0.4em;
            
            background-color: var(--color-bg-button, var(--color-main-darken));
            position: absolute;
            left: 0em;
            height: 100%;
            top: 0em;
            width: 100%;
            opacity: 1;
        }

        .foreground 
        {
            border-radius: 0.4em;
            
            background-color: var(--color-fg-button, var(--color-main-lighten));
            position: absolute;
            left: 0; 
            right: 0;
            top: 0;
            bottom: 0; 
            margin: auto; 
            width: 100%;
            height: 100%;
            transition: all 0.3s;
        }

        
    }
    
    .button:hover
    {
        .foreground
        {   
            filter: brightness(1.1);

            width: calc(100% - 0.2em);
            height: calc(100% - 0.2em);
        }
    }

    .button:active
    {
        .foreground
        {   
            transition: all 100ms;
            opacity: 70%;

            width: calc(100% - 0.5em);
            height: calc(100% - 0.5em);
        }
    }

    .disabled
    {
        pointer-events: none !important;
        cursor: not-allowed !important;
        
        .content
        {
            filter: brightness(0.75);
            // text-shadow: 0em 0em 0.15em var(--color-shadow-button, var(--color-tomain-shadow)) !important;
        }

        .foreground
        {
            filter:  saturate(0.5);
            opacity: 1 !important;
            width: 100% !important;
            height: 100% !important;
        }
    }

    .transparent
    {
        .background
        {
            opacity: 0;
            transition: all 0.3s;
        }

        .foreground 
        {
            opacity: 0;
        }
    }
    .transparent:hover
    {
        .foreground 
        {
            opacity: 0.1;
        }

        .background
        {
            opacity: 0.3;
        }
    }

    .transparent.disabled
    {   
        .content
        {
            filter: brightness(1);
            // text-shadow: 0em 0em 0.15em var(--color-shadow-button, var(--color-tomain-shadow)) !important;
        }

        .foreground
        {
            filter:  saturate(0.5);
            opacity: 1 !important;
            width: 100% !important;
            height: 100% !important;
        } 
    }


    
    .button.hard 
    {
        border-radius: 0.4em;
        border: 0.15em solid var(--color-main-lighten2);

        transition: 300ms border;

        
        padding: 0em 0em;

        
        height: calc(100% - 0.3em);



        .hardel
        {
            content: " ";
            position: absolute;
            // right: 0em;
            width: 100%;
            height: 100%;
            background-color: var(--color-fg-button, var(--color-main-lighten));
            border-radius: 0.4em;
    
            // animation-timing-function: cubic-bezier(.7,.54,.47,.99);
            transition-timing-function: ease-in;
    
            transition: width 300ms, height 300ms, filter 300ms, border-radius 300ms;

            
            // background-color: var(--color-main-darken2) !important;
        }

        
        .foreground
        {
            transition: opacity 300ms, height var(--hard-animation-time), width var(--hard-animation-time);
            
            opacity: 70%;
        }

        .background
        {
            transition: all var(--hard-animation-time);

            background-color: var(--color-main-darken2);
        }

        .content
        {
            .contentCn
            {
                margin: 0em auto;
            }

            .loaderCn
            {
                width: 1.5em;
            }
        }
        
    }

    .hard:hover
    {
        border: 0.15em solid var(--color-main-darken2);
        
        .hardel
        {
            filter: brightness(1.1);
            
            width: calc(100% - 0.2em);
            height: calc(100% - 0.2em);
        }
    }

    .hard:active 
    {
        .hardel
        {
            transition: width var(--hard-animation-time), height var(--hard-animation-time),  border-radius var(--hard-animation-time);
            height: calc(100% - 0.5em);
            // border-radius: 50%;
            // height: 0em;
            width: 0em;
        }
    }

    .button.hard.down
    {
        .foreground
        {
            opacity: 50%;
        }

        .hardel
        {
            height: 0em;
            border-radius: 50%;
            transition: none;
        }
    }
}

:host-context(.smawwl)
{
    .button
    {

        display: inline-block;
        position: relative;
        min-height: 0em;
        height: 100%;
        width: 100%;
        cursor: pointer;


        //Keep the min text width
        .hidden
        {
            opacity: 0;
            height: 0em;
        }

        .content
        {
            width: 100%;

            .contentCn
            {
                
                height: 1em;
                margin: 0em 0em;
            }

            .loaderCn
            {
                height: 1em;
                width: 1.5em;
                margin: 0em 0em;
            }
        }

        .noPadding
        {
            padding: 0 !important;
            text-align: center;
        }
    }
}



:host-context(.text-bottom)
{
    .button
    {
        display: flex;
        align-items: flex-end;
    }
}


:host-context(.square)
{
    .button
    {
        .content
        {
            border-radius: 0em;
        }

        .foreground 
        {
            border-radius: 0em;
        }

        .background
        {
            border-radius: 0em;
        }
    }
}



:host-context(.tall)
{
    .button
    {
        min-height: 3.5em;
    }
}

:host-context(.urgent)
{
    .button
    {
        border: 0.25em solid var(--color-danger-main);
        border-radius: 0.4em;

        .content
        {
            border-radius: 0em !important;            
        }
    
        .foreground 
        {
            border-radius: 0em !important;
        }
    
        .background
        {
            background-color: var(--color-danger-main);
            border-radius: 0em !important;
        }
    }
}

:host-context(.small-margin)
{
    .button
    {
        height: 100%;
        width: 100%;
        .content
        {
            width: 100%;
            .contentCn
            {
                width: 100%;
                margin: 0;
                padding: 0
            }
            .loaderCn
            {
                margin: 0;
            }
            padding: 0;
        }
    }
}


:host-context(.round)
{
    .button
    {
        .content
        {
            border-radius: calc(3.359em / 2);
        }

        .background
        {
            border-radius: calc(3.359em / 2);
        }

        .foreground 
        {
            border-radius: calc(3.359em / 2);
        }
    }


    
    .button.hard 
    {
        border-radius: calc(3.359em / 2);

        .hardel
        {
            border-radius: calc(3.359em / 2);
        }
    }

    .button.hard.down
    {

        .hardel
        {
            border-radius: calc(3.359em / 2);
        }
    }
}