<div class="drop-down-list" [class.disabled]="disabled" #cn>
    <div class="selected"
    (focusout)="onFocusOut()"
    (focus)="onFocus()"
    contenteditable="true" 
    (keypress)="onKeyPress($event)" 
    (keyup)="onKeyUp($event)"
    [textContent]="model" 
    spellcheck="false"
    (dblclick)="toggleDrop()"
    (input)="onInput($event)"
    #editableEl
    >
    <!-- (input)="model=$event.target.textContent" -->
        <!-- {{ getValueDisplay(selected) !== '' ? getValueDisplay(selected) + sSuffix : '...' }} -->
    </div>
    

    <div class="drop-arrow" (click)="toggleDrop()">
        <svg viewBox="0 0 64 64">
            <use xlink:href="assets/svg/play.svg#solid"></use>
        </svg>
    </div>
</div>
