<div class="check-group-input">
    <div class="controller">
        <forms-check-input [label]="label" [ngModel]="allChecked" (ngModelChange)="checkAll($event)"></forms-check-input>
    </div>
    <div #checkGroup class="check-group">
        <div #checkCn class="check" *ngFor="let element of _elements">
            <forms-check-input [disabled]="element.read_only" class="small-label label-above" [ngModel]="valueOf(element.name)" (ngModelChange)="onCheckChange(element, $event)" [label]="getAlias(element)"></forms-check-input>
        </div>
    </div>
</div>