:host
{
    .check-group-input
    {
        .controller
        {
            margin-bottom: 0.5em;
        }

        .check-group
        {
            display: grid;
            // grid-auto-columns: min-content;
            // grid-auto-flow: row;
            grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
            grid-gap: 1em;

            min-width: 55em;

            .check
            {
                width: fit-content;
                margin-bottom: 0.3em;
            }
            margin-bottom: 1em;
        }
    }
}


:host-context(.display)
{
    .check-group-input
    {
        pointer-events: none;
        .controller
        {
            margin-bottom: 0.5em;
        }

        .check-group
        {
            display: grid;
            // grid-auto-columns: min-content;
            // grid-auto-flow: row;
            grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
            grid-gap: 1em;

            min-width: 55em;

            .check
            {
                width: fit-content;
            }
            margin-bottom: 1em;
        }
    }
}