:host
{
    .template-form
    {
        padding-left: 1em;
        padding-right: 1em;
        width: fit-content;
    }
}



:host-context(.contained)
{
    .template-form
    {
        width: 100%;
        padding-left: 0em;
    }
}

:host-context(.no-padding)
{
    .template-form
    {
        padding-left: 0em;
        padding-right: 0em;
    }
}