<form class="template-form" *ngIf="this.template">
    <forms-template-layout [message]="message" [parentFormGroup]="formGroup" [templateLayout]="asLayout"></forms-template-layout>
</form>
<!-- <div class="classtest">
    <app-check-input [label]="test"></app-check-input>
    <app-editable-drop-down [elements]="['test', 'test1', 'test2', 'test3']" ></app-editable-drop-down>
    <app-text-input [(ngModel)]="test"></app-text-input>
    <app-drop-down-list [elements]="['test', 'test1', 'test2', 'test3']" [selected]="test"></app-drop-down-list>
    <app-nb-input [(ngModel)]="testnb"></app-nb-input>
    <app-button>{{test}}</app-button>
</div> -->