:host 
{
    .date-range 
    {
        height: 100%;
        width: 100%;
        border-bottom: 0.1em solid var(--color-main-lighten2);
        transition: border 300ms;

        .cc
        {
            display: grid;
            place-items: center;
            width: 100%;
            height: calc(100% - 3em);
            input
            {
                // outline: none !important;
                // border: none;
                // background-color: transparent;
                // cursor: initial;
                display: none;
                position: absolute;
                opacity: 0;
                pointer-events: none;
            }
            font-size: 0.8em;
    
            overflow: hidden;
        }
        p
        {
            text-align: center;
            font-size: 1.4em;
        }
        
    }

    .auto-size
    {
        height: 100%;
        width: 100%;
    }


    .date-range.disabled
    {
        pointer-events: none;
        border-bottom: 0.1em solid var(--color-disabled);
        filter: opacity(0.6);
    }
    
    .date-range:focus-within, .date-range:focus-within:hover
    {
        border-bottom: 0.1em solid var(--color-highlight);  
    }

    .date-range:hover
    {
        border-bottom: 0.1em solid var(--color-highlight);  
    }
}


:host(.ng-invalid.ng-touched)
{
    .date-range 
    {
        border-bottom: 0.1em solid var(--color-danger);
    }
}


:host(.no-border)
{
    .date-range
    {
        border-bottom: none;
    }
    
    .date-range.disabled
    {
        border-bottom: none;
    }
    
    .date-range:focus-within, .date-range:focus-within:hover
    {
        border-bottom: none;
    }

    .date-range:hover
    {
        border-bottom: none;
    }
}

:host(.no-border.ng-invalid.ng-touched)
{
    .date-range 
    {
        border-bottom: none;
    }
}