<div class="date-range" [class.auto-size]="autoSize" [class.disabled]="disabled">
    <div class="cc" #cc (resize)="onResize($event)">
        <input type="text" name="" id="" #range>
    </div>
</div>