<div class="text-input" [class.disabled]="disabled">
    <div 
        #input 
        class="input" 
        contenteditable="true" 
        (keypress)="onKeypress($event)"
        (input)="text=$event.target.innerText"
        [textContent]="text" 
        >
    </div>
</div>

