:host

{

    .text-input
    {

        min-width: 25em;

        min-height: 2em;

        border-bottom: 1px solid var(--color-main-lighten2);

        

        transition: border-bottom 0.3s;

        .input
        {

        

            outline: none !important;

            border: none !important;

            padding: 0px;

    

            font-size: 2em;

            color: var(--color-tomain) ;

    

            transition: color 300ms;

            // white-space: nowrap;
            white-space: pre-wrap;
        }

    }

    .text-input:hover
    {

        border-color: var(--color-main-lighten3) ;

    }

    .text-input:focus-within, .text-input:focus-within:hover
    {

        border-bottom: 1px solid var(--color-highlight); 

    }

    .text-input:focus-within:invalid
    {

        border-color: var(--color-danger) !important;

    }

    .text-input:invalid
    {

        border-color: var(--color-danger);

    }

    .text-input.disabled
    {

        pointer-events: none;

        border-bottom: 1px solid var(--color-disabled);

        .input

        {

            color: var(--color-disabled);

        }

    }

}

:host-context(.ng-invalid.ng-touched)
{

    .text-input
    {

        border-bottom: 1px solid var(--color-danger);

        // .input

        // {

        // }

    }

}

:host-context(.display)
{

    .text-input
    {

        pointer-events: none;

        border-bottom: none;

        

        // .input

        // {

            // word-wrap: break-word;

            // word-break: break-all;

        // }

    }

}

:host-context(.full-width)
{

    .text-input
    {

        width: 100%;

        .input
        {

            width: 100%;

        }

    }

}

:host-context(.no-border)
{

    .text-input
    {

        border-bottom: none !important;

    }

}
