:host
{
    .range-input
    {
        height: 100%;
        width: 100%;

        --width-thumb: 0.5em;
        position: relative;
       

        .track
        {
            width: 100%;
            height: 50%;

            background-color: var(--color-main-lighten);


            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            box-shadow: 0 0 0.5em var(--color-tomain-shadow);
            
        }
        .thumb-track
        {
            position: absolute;
            height: 100%;
            width: calc(100% - var(--width-thumb));


            .thumb
            {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                width: var(--width-thumb);
                height: 100%;

                background-color: var(--color-tomain);
                
                box-shadow: 0 0 0.5em var(--color-tomain-shadow);
            }
        }
    }
}