:host
{
    .nb-input
    {
        display: flex;
        border-bottom: 0.1em solid var(--color-main-lighten2);
        justify-content: flex-end;

        min-width: 7em;

        max-width: 25em;

        .input
        {
            -moz-appearance: textfield;
            outline: none !important;
            border: none !important;

            font-size: 2.2em;
            transition: color 300ms;
            white-space: pre;
        }

        .suffix
        {
            user-select: none;
        }

        .arrows
        {
            // height: 100%;
            margin-left: 0.25em;
            width: 1em;
            position: relative;

            .up
            {
                top: 0.3em;
                svg
                {
                    transform: rotate(-90deg);
                }
            }

            .down
            {
                // top: calc(50% + 0.15em);
                bottom: 0.2em;
                svg
                {
                    transform: rotate(90deg);
                }
            }

            div
            {
                position: absolute;
                svg
                {
                    height: 0.95em;
                    width: 0.95em;
                    fill: var(--color-main-lighten2);

                    transition: filter 200ms, fill 300ms;
                }
            }

            div:hover
            {
                svg
                {
                    filter: brightness(1.2);
                }
            }

            div:active
            {
                svg
                {
                    transition: filter 100ms;
                    filter: brightness(0.8);
                }
            }
        }
    }

    .nb-input:focus-within, .nb-input:focus-within:hover
    {
        border-bottom: 0.1em solid var(--color-highlight);
    }

    .nb-input:hover
    {
        border-bottom: 0.1em solid var(--color-main-lighten3);
    }

    .disabled
    {
        display: flex;
        // filter: opacity(0.3);
        pointer-events: none;
        border-bottom: 0.1em solid var(--color-disabled);

        .input
        {
            user-select: none;
            color: var(--color-disabled);
        }

        .arrows
        {
            div
            {
                svg
                {
                    fill: var(--color-disabled);
                }
            }
        }
    }
}


:host-context(.arrow-tomain)
{
    div
    {
        .arrows
        {
            div
            {
                svg
                {
                    cursor: pointer;
                    fill: var(--color-tomain);
                }
            }
        }

    }

    .disabled
    {
        .arrows
        {
            div
            {
                svg
                {
                    cursor: pointer;
                    fill: var(--color-disabled);
                }
            }
        }
    }
}

:host-context(.no-border)
{
    .nb-input
    {
        min-width: 0em;
        border-bottom: none;
    }

    .nb-input:focus-within, .nb-input:focus-within:hover
    {
        border-bottom: none;
    }

    .nb-input:hover
    {
        border-bottom: none;
    }

    .disabled
    {
        filter: opacity(0.6);
        border-radius: none;
    }
}


:host-context(.no-arrow)
{
    .nb-input
    {
        .arrows
        {
            display: none;
        }
    }
}

:host-context(.ng-invalid.ng-touched)
{
    .nb-input
    {
        border-bottom: 0.1em solid var(--color-danger);
    }
}


:host-context(.display)
{
    .nb-input
    {
        pointer-events: none;
        border-bottom: none;
        justify-content: flex-start;

        .arrows
        {
            display: none;
        }
    }
}
