<!-- <input type="number" name="" id=""> -->

<div [class.disabled]="!enabled" class="nb-input">
    <div class="input" *ngIf="forcePositive && this._value > 0">
        +
    </div>
    <div 
        #editable 
        class="input" 
        [contentEditable]="enabled && !onlyDisplay" 
        [textContent]="model" 
        (focusout)="onFocusOut()" 
        (keypress)="onKeyPress($event)" 
        (keyup)="onKeyUp($event)"
        (input)="onInput($event)"
        
        >
        <!-- model=$event.target.textContent -->
        
    </div>
    
    <div class="input suffix" *ngIf="_defaultSuffix">
        {{_defaultSuffix}}
    </div>

    <div class="arrows">
        <div class="up" (click)="stepUp()">
            <svg viewBox="0 0 64 64">
                <use xlink:href="assets/svg/play.svg#solid"></use>
            </svg>
        </div>

        <div class="down" (click)="stepDown()">
            <svg viewBox="0 0 64 64">
                <use xlink:href="assets/svg/play.svg#solid"></use>
            </svg>
        </div>
    </div>
</div>