:host
{
    .toggle-input
    {
        display: flex;
        align-items: center;
        height: auto;
        user-select: none;

        label
        {
            font-size: var(--toggle-label-fz, 2.2em);
            margin-right: 0.2em;

            align-self: center;
        }

        .toggle-frame
        {
            height: 2em;
            width: 4em;

            border-radius: 1.3em;

            border: var(--toggle-frame-width, 2px) solid var(--color-main-lighten2);

            position: relative;

            overflow: hidden;

            transition: border 250ms;

            .bkgd
            {
                position: absolute;
                height: 100%;
                width: 0em;

                left: 0em;
                top: 0em;

                transition: width 250ms;

                background-color: var(--color-main-lighten);
            }

            .toggle
            {
                height: 1.6em;
                width: 1.6em;

                position: absolute;

                border-radius: 0.8em;

                top: 50%;

                left: 0.25em;

                transform: translateY(-50%);

                background-color: var(--color-main-lighten2);

                transition: left 250ms, background-color 250ms;
            }
        }

        .toggle-frame.checked
        {
            .toggle
            {
                left: calc(4em - 1.6em - 0.25em);
                background-color: var(--color-main-lighten3);
            }

            .bkgd
            {
                width: 100%;
            }
        }
    }

    .toggle-input:hover
    {
        .toggle-frame
        {
            border: var(--toggle-frame-width, 2px) solid var(--color-main-lighten3);
        }
    }


    .toggle-input.disabled
    {
        pointer-events: none;

        label
        {
            color: var(--color-disabled);
        }

        .toggle-frame
        {
            background-color: var(--color-disabled) !important;

            // .bkgd

            .toggle
            {
                background-color: var(--color-disabled);
            }
        }
    }
}

:host(.small-label)
{
    
    .toggle-input
    {
        label
        {
            font-size: 1.5em;
            margin-right: 0.2em;
        }
    }
}



:host(.display)
{
    .toggle-input
    {        
        pointer-events: none;
    }
}


:host(.label-above)
{
    .toggle-input
    {        
        flex-direction: column;
        align-items: flex-start;

        label
        {
            white-space: nowrap;
            color: var(--color-main-lighten2);
            margin: 0;
            margin-bottom: 0.3em;
            transition: color 300ms;

            align-self: flex-start !important;
        }
    }

    .toggle-input:hover
    {        
        label
        {
            color: var(--color-main-lighten3);
        }
    }
}


:host(.line)
{
    .toggle-input
    {        
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        label
        {
            white-space: nowrap;
            color: var(--color-main-lighten2);
            margin: 0;
            // margin-bottom: 0.3em;
            transition: color 300ms;

            margin-right: 0.5em;
        }
        // justify-content: left;
    }

    .toggle-input:hover
    {     
        label
        {
            color: var(--color-main-lighten3);
        }
    }
}