<div class="toggle-input" (click)="toggle()" [class.disabled]="disabled">
    <label *ngIf="label">{{label}}</label>

    <div class="toggle-frame" [class.checked]="_checked">
        <div class="bkgd"></div>
        <div class="toggle"></div>
    </div>
</div>