:host
{
    .drop-down
    {

        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        pointer-events: none;

        z-index: 100;

        .relative
        {
            position: relative;
            
            width: 100%;
            height: 100%;

            .content
            {
                pointer-events: all;
                
                position: absolute;

                background-color: var(--color-main);

                box-shadow: 0.3em 0.3em 1em 0.2em var(--color-tomain-shadow);

                display: flex;

                flex-direction: column;

                width: fit-content;

                max-height: 80%;
                overflow: auto;

                // top: 100%;
                clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
                transition: clip-path 300ms;

                .drop
                {   
                    pointer-events: all;
                    border-radius: 0.6em;
            
                    word-wrap: none;
                    cursor: pointer;
            
            
                    .element
                    {
                        width: 100%;
                        
                        background-color: var(--color-main);
            
                        border-radius: 0.3em;
            
                        transition: background-color 0.3s, color 0.3s;
            
                        
            
                        p
                        {
                            white-space: nowrap;
                            color: var(--color-tomain);
                            font-size: 2.2em;
                            margin: 0;
                            // padding: 0.2em 0.5em 0.2em 0.2em;
                            // padding-right: 0.5em;
                            user-select: none;
                        }
            
                        // padding: 0em 0.2em;
                    }
                    .disabled
                    {
                        p
                        {
                            color: var(--color-gray);
                        }
                    }
            
                    .element:hover
                    {
                        
                        background-color: var(--color-main-lighten);
                    }

                    .disabled:hover
                    {
                        background-color: var(--color-main);
                    }
            
                    .dropDownSelected.highlight
                    {
                        background-color: var(--color-main-lighten);
                        // backdrop-filter: brightness;
                        filter: brightness(0.9);
                    }
            
                    box-shadow: 0em 0em 0.8em var(--color-tomain-shadow);
                }
            }
        }
        

    }
}