<div class="drop-down">
    <div class="relative">
        <div class="content" #content (clickOut)="diseapear()">
            <div class="drop">
                <div class="element" *ngFor="let element of elements let id = index" (click)="select(id)" [class.dropDownSelected]="id===selected" 
                [class.highlight]="highlight"  [class.disabled]="element.disabled !== undefined ? element.disabled : false">
                    <p [style.padding]="padding">
                        {{ (getValueDisplay(id)) | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
