:host
{
    .tooltip
    {

        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        z-index: 100;

        pointer-events: none;

        .relative
        {
            position: relative;

            width: 100%;
            height: 100%;

            pointer-events: none;

            .content
            {
                position: absolute;

                background-color: var(--color-main);

                width: fit-content;

                max-height: 100%;

                white-space: normal;
                transition: opacity 300ms;
                top: 1em;
                position: absolute;
                font-size: 1.5em;
                color: var(--color-main-lighten2);

                white-space: pre-wrap;

                background-color: var(--color-main);
                padding: 0.2em;
                box-shadow: 0 0 0.2em var(--color-tomain-shadow);
                opacity: 0;
            }
        }
        

    }
}