<div class="tooltip" [modalPopover]="componentRef">
    <div class="relative">
        <div class="content" #content (mouseOut)="onMouseOut()" ignore="left">
            {{text | translate}}
        </div>
    </div>
</div>