:host
{
    .list-selection-input
    {
        width: calc(100% - 1.2em);
        height: calc(100% - 1.3em);

        border: 0.1em solid var(--color-main-lighten2);
        padding: 0.5em;

        transition: border 300ms;

        

        .lists
        {
            height: calc(100% - 0em);
            width: calc(100% - 0em);
            // display: flex;
            // flex-direction: row;


            .elements
            {
                display: inline-block;
                height: 100%;
                width: 100%;
                vertical-align: top;

                .label
                {
                    font-size: 2em;
                    text-align: center;
                }

                .cn
                {
                    // 2467
                    max-height: calc(100% - 2.467em);
                    border-collapse: collapse;
                    
                    width: 100%;

                    .head
                    {
                        .row
                        {
                            display: table;
                            width: 100%;
                            table-layout: fixed;
                            margin-bottom: 0.5em;

                            .label
                            {
                                font-size: 1.5em;
                                color: var(--color-main-lighten2);
                                // border-bottom: 0.1em solid var(--color-main-lighten2);
                                // box-shadow: 0em 0.6em 0em -0.5em var(--color-main-lighten2);
                                user-select: none;

                                span
                                {
                                    color: var(--color-main-lighten2);
                                    border-bottom: 0.1em solid var(--color-main-lighten2);

                                    padding: 0em 0.5em;
                                }
                            }
                        }
                    }

                    .body
                    {
                        display: block;
                        overflow: auto;

                        // height: 2em;
                        height: var(--table-body-height);
                        

                        .element
                        {
                            display: table;
                            width: 100%;
                            table-layout: fixed;

                            transition: background-color 300ms, color 300ms;
                            font-size: 1.5em;
                            cursor: pointer;
                            user-select: none;
                            
                            .value
                            {
                                color: var(--color-main-lighten2);
                            }
                        }
    
                        .element:hover
                        {
                            transition: background-color 300ms, color 300ms;
                            
                            .value
                            {
                                color: var(--color-main-lighten3);
                            }
                        }
    
                        .element.selected
                        {
                            background-color: var(--color-main-lighten);
                            
                            .value
                            {
                                color: var(--color-highlight);
                            }
                        }
                    }
                }
            }


        }
    }

    .list-selection-input:hover
    {
        border: 0.1em solid var(--color-main-lighten3);
    }
}

:host(.borderless)
{
    .list-selection-input
    {
        width: calc(100% - 1em);
        height: calc(100% - 1em);
        border: none;
    }
}

:host(.middle)
{
    .list-selection-input
    {
        .lists
        {
            .elements
            {
                .cn
                {
                    .element
                    {
                        text-align: center;
                    }
                }
            }
        }
    }
}

:host(.display)
{
    .list-selection-input
    {
        pointer-events: none;
        filter: grayscale(1);
    }
}


:host(.fixed)
{
    .list-selection-input
    {
        height: 20em;
    }
}


:host-context(.ng-invalid.ng-touched)
{
    .nb-input
    {
        border: 0.1em solid var(--color-danger);
    }
}