<div class="list-selection-input">

    <div class="lists" (resize)="onResize($event)">

        <div class="elements">

            <div class="label" *ngIf="_elementsLabel">
                {{ elementsLabel | translate }}
            </div>

            <table class="cn">

                <thead class="head" *ngIf="fieldLabels.length !== 0">
                    <tr class="row">
                        <td class="label" *ngFor="let label of fieldLabels">
                            <span>
                                {{ label.alias | translatable }}
                            </span>
                        </td>
                    </tr>
                </thead>

                <tbody class="body">
                    <tr class="element"
                    *ngFor="let element of elements; let i = index"
                    [class.selected]="elementsSelectedMap[i]"
                    (click)="onListClick(i, elementsSelectedId, elementsSelectedMap, selectionSelectedId, selectionSelectedMap)"
                    >
                        <td class="value" *ngIf="fieldLabels.length === 0">
                            {{ getAlias(element) }}
                        </td>

                        <td class="value" *ngFor="let label of fieldLabels">
                            {{ getLabelValue(element, label) }}
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>
