:host
{
    .popover
    {
        display: grid;
        place-items: center;

        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        z-index: 100;

        background-color: rgba(0, 0, 0, 0.2);

        .content
        {
            z-index: 100;
            box-shadow: 0em 0em 3em 0.2em var(--color-tomain-shadow);
            max-width: 80%;
            max-height: 90%;
            border-radius: 0.5em;
            padding: 2em;
            min-height: 100px;

            background-color: var(--color-main);
            vertical-align: top;
            min-width: 20em;

            .in
            {
                width: 80em;
                h2
                {
                    font-weight: normal;
                    font-size: 2.7em;
                    user-select: none;
                    margin-bottom: 0.8em;
                }
                .text-div
                {
                    label
                    {
                        font-size: 1.8em;                      
                        color: var(--color-main-lighten3);
                        display: block;
                    }
                    label.invalid
                    {
                        color: var(--color-danger);
                    }
                    .label-result
                    {
                        color: var(--color-tomain);
                    }
                    .label-result-no-match
                    {
                        color: var(--color-danger);
                        font-style: italic;
                    }
                    margin-top: 0.7em;
                }
                .buttons
                {
                    margin-top: 1.5em;
                    display: flex;
                    flex-direction: row;

                    .button
                    {
                        margin: 0.3em;
                        flex-grow: 1;
                    }
                }
                .cheat-sheet-title
                {                               
                    margin-top: 4em;      
                    background-color: var(--color-main-darken);
                    padding: 1em;
                    .tables-div
                    {                  
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        gap: 3em;   

                        .cheat-sheet
                        {
                            border-collapse: collapse;
                            h3 
                            {
                                font-size: 1.5em;
                            }
                            tr td
                            {
                                padding-right: 1.5em;
                                p 
                                {
                                    color: var(--color-main-lighten3);
                                }   
                            } 
                            tr:nth-child(even) td{
                                background-color: var(--color-main);
                            }
                        }                
                    }
                } 
            }
        }
    }
}
