<div class="popover">
  <div class="content" (clickOut)="onClickOut()" #content >
      <div class="in">
        <h2>{{ 'Regular Expression Tester' | translate }}</h2>
        <div class="text-div">
          <label [ngClass]="{'invalid': !isRegExpValid}">{{ 'Regular expression' | translate}}</label>
          <forms-text-input class="full-width" [ngClass]="{'invalid': !isRegExpValid}"  [(ngModel)]="regExpValue" (ngModelChange)="onValueOrRegExpChange()"></forms-text-input>
        </div>
        <div class="text-div">
          <label>{{ 'Tested expression' | translate }}</label>
          <forms-text-area class="full-width" [(ngModel)]="testedValue" (ngModelChange)="onValueOrRegExpChange()"></forms-text-area>
        </div>
        <div class="text-div">
          <label>{{ 'Returned result (separated by a space)' | translate }}</label>
          <label [ngClass]="this.match ? 'label-result' : 'label-result-no-match'">{{resultValue}}</label>
        </div>
        <div class="buttons">
          <forms-button class="button" (onClick)="onSave()">{{ 'Save' | translate }}</forms-button>
          <forms-button class="button" (onClick)="onCancel()">{{ 'Cancel' | translate }}</forms-button>
        </div>
      
        <div class="cheat-sheet-title">
        <h2>{{ 'Regular expression helper' | translate }}</h2>
        <div class="tables-div">
          <table class="cheat-sheet">           
            <thead>
              <td colspan="2"><h3>{{ 'Character classes' | translate }}</h3></td>
              <td></td>
            </thead>
            <tr>
              <td><p>.</p></td>
              <td><p>{{ 'any character except newline' | translate }}</p></td>
            </tr>
            <tr>
              <td><p>\w \d \s</p></td>
              <td><p>{{ 'word, digit, whitespace' | translate }}</p></td>
            </tr>
            <tr>
              <td><p>\W \D \S</p></td>
              <td><p>{{ 'not word, digit, whitespace' | translate }}</p></td>
            </tr>
            <tr>
              <td><p>[abcd]</p></td>
              <td><p>{{ 'any of a, b, c or d' | translate }}</p></td>
            </tr>
            <tr>
              <td><p>[^abcd]</p></td>
              <td><p>{{ 'not a, b, c or d' | translate }}</p></td>
            </tr>
            <tr>
              <td><p>[a-v]</p></td>
              <td><p>{{ 'character between a and v (lower case)' | translate }}</p></td>
            </tr>
            <tr>
              <td><p>[A-z]</p></td>
              <td><p>{{ 'any character (upper or lower case)' | translate }}</p></td>
            </tr>


            <thead>
              <td colspan="2"><h3>{{ 'Anchors' | translate }}</h3></td>
              <td></td>
            </thead>
            <tr>
              <td><p>^abcd$</p></td>
              <td><p>{{ 'start / end of the string' | translate }}</p></td>
            </tr>
            <tr>
              <td><p>\b \B</p></td>
              <td><p>{{ 'word, not word boundary' | translate }}</p></td>
            </tr>
          </table>

          <table class="cheat-sheet">
            <thead>
              <td colspan="2"><h3>{{ 'Quantifier and Alternation' | translate }}</h3></td>
              <td></td>
            </thead>
            <tr>
              <td><p>a* a+ a?</p></td>
              <td><p>{{ '0 or more, 1 or more, 0 or 1' | translate }}</p></td>
            </tr>
            <tr>
              <td><p>{{ 'a{4} a{2,}' }}</p></td>
              <td><p>{{ 'exactly 4, 2 or more' | translate }}</p></td>
            </tr>
            <tr>
              <td><p>{{'a{6, 9}'}}</p></td>
              <td><p>{{ 'between 6 and 9' | translate }}</p></td>
            </tr>
            <tr>
              <td><p>{{'a+? a{3,}?'}}</p></td>
              <td><p>{{ 'match as few as possible' | translate }}</p></td>
            </tr>
            <tr>
              <td><p>{{'ac|dc'}}</p></td>
              <td><p>{{ 'match ac or dc' | translate }}</p></td>
            </tr>

            <thead>
              <td colspan="2"><h3>{{ 'Escaped characters' | translate }}</h3></td>
              <td></td>
            </thead>
            <tr>
              <td><p>\. \* \\</p></td>
              <td><p>{{ 'escaped special character' | translate }}</p></td>
            </tr>
            <tr>
              <td><p>\t \n \r</p></td>
              <td><p>{{ 'tab, line feed, carriage return' | translate }}</p></td>
            </tr>

            <thead>
              <td colspan="2"><h3>{{ 'Groups ans Lookaround' | translate }}</h3></td>
              <td></td>
            </thead>
            <tr>
              <td><p>(abcd)</p></td>
              <td><p>{{ 'capture group of abcd' | translate }}</p></td>
            </tr>
            <tr>
              <td><p>(?:abcd)</p></td>
              <td><p>{{ 'non-capturing group' | translate }}</p></td>
            </tr>
            <tr>
              <td><p>(?=abcd)</p></td>
              <td><p>{{ 'positive lookahead' | translate }}</p></td>
            </tr>
            <tr>
              <td><p>(?!abc)</p></td>
              <td><p>{{ 'negative lookahead' | translate }}</p></td>
            </tr>
          </table>
        </div>
      </div>
      </div>
  </div>
</div>
