
<div class="c" (resize)="onResize($event)">
  <div class="calendar" #cc [class.auto-size]="autoSize" [class.disabled]="disabled">
    <mbsc-datepicker
      display="inline"
      theme="material"
      [locale]="locale"
      [timeFormat]="timeFormat"
      [dateFormat]="dateFormat"
      timeWheels="HH:mm"
      dataTimezone="utc"
      [displayTimezone]="displayTimezone"
      [timezonePlugin]="momentPlugin"
      [controls]="controls"
      [touchUi]="false"
      [locale]="locale"
      (onChange)="onMobiChange($event)"
      (onInit)="onMobiInit($event)"
      >
    </mbsc-datepicker>
  </div>
</div>
