<div class="list-selection-input">

    <div class="lists" (resize)="onResize($event)">

        <div class="elements">

            <div class="label" *ngIf="_elementsLabel">
                {{ elementsLabel | translate }}
            </div>

            <table class="cn">

                <thead class="head" *ngIf="fieldLabels.length !== 0">
                    <tr class="row">
                        <td class="label" *ngFor="let label of fieldLabels">
                            <span>
                                {{ label.alias | translatable }}
                            </span>
                        </td>
                        <!-- <td>
                            Id
                        </td>
                        <td>
                            Alias
                        </td> -->
                    </tr>
                </thead>

                <tbody class="body">
                    <tr class="element"
                    *ngFor="let element of elements; let i = index"
                    [class.selected]="elementsSelectedMap[i]"
                    (click)="onListClick(i, elementsSelectedId, elementsSelectedMap, selectionSelectedId, selectionSelectedMap)"
                    >
                        <td class="value" *ngIf="fieldLabels.length === 0">
                            {{ getAlias(element) }}
                        </td>

                        <td class="value" *ngFor="let label of fieldLabels">
                            {{ getLabelValue(element, label) }}
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>

        <div class="controls">

            <div class="grid">
                <div class="centered">

                    <div class="icon right" (click)="onElementToSelection()">
                        <svg viewBox="0 0 64 64">
                            <use xlink:href="assets/svg/arrow.svg#solid"></use>
                        </svg>
                    </div>

                    <div class="icon left" (click)="onSelectionToElement()">
                        <svg viewBox="0 0 64 64">
                            <use xlink:href="assets/svg/arrow.svg#solid"></use>
                        </svg>
                    </div>

                </div>
            </div>

        </div>

        <div class="elements">

            <div class="label" *ngIf="_selectionLabel">
              {{ selectionLabel | translate }}
            </div>

            <table class="cn">

                <thead class="head" *ngIf="fieldLabels.length !== 0">
                    <tr class="row">
                        <td class="label" *ngFor="let label of fieldLabels">
                            <span>
                                {{ label.alias | translatable }}
                            </span>
                        </td>
                    </tr>
                </thead>

                <tbody class="body">
                    <tr class="element"
                    *ngFor="let element of selection; let i = index"
                    [class.selected]="selectionSelectedMap[i]"
                    (click)="onListClick(i, selectionSelectedId, selectionSelectedMap, elementsSelectedId, elementsSelectedMap)"
                    >
                        <td class="value" *ngIf="fieldLabels.length === 0">
                            {{ getAlias(element) }}
                        </td>

                        <td class="value" *ngFor="let label of fieldLabels">
                            {{ getLabelValue(element, label) }}
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

</div>
