
<form [formGroup]="form" (ngSubmit)="submit()">
    <div>
        <label>Type: </label>
        <mat-radio-group formControlName="type">
          <mat-radio-button value="business">Business</mat-radio-button>
          <mat-radio-button value="privé">Privé</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="nom">
        <mat-form-field appearance="fill">
            <mat-label>Prénom</mat-label>
            <input type="text" matInput formControlName="nom">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Prénom</mat-label>
            <input type="text" matInput formControlName="prenom">
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input
            matInput
            placeholder="pat@example.com"
            formControlName="email"
        />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Téléphone</mat-label>
        <input
            matInput
            placeholder="078 773 85 82"
            formControlName="telephone"
        />
    </mat-form-field>

    <div class="adresse" formGroupName="adresse">
        <mat-form-field class="full" appearance="fill">
            <mat-label>Rue</mat-label>
            <input type="text" matInput formControlName="rue">
        </mat-form-field>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Ville</mat-label>
                <input type="text" matInput formControlName="ville">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Code postal</mat-label>
                <input type="number" matInput formControlName="code">
            </mat-form-field>
        </div>
    </div>

    <div class="button">
        <button type="submit" mat-button>Mettre à jour</button>
    </div>

</form>