:host
{
    *
    {
        font-size: 16px;
    }

    form
    {
        width: fit-content;
        // transform: scale(0.8);
        font-size: 16px;

        mat-form-field
        {
            margin: 0.5em;
        }

        .full
        {
            width: calc(100% - 1em);
        }
    }
}