<div class="editable-drop-down" [class.disabled]="disabled">
    <div class="drop">
        <forms-drop-down-list #dropDownList class="no-interaction drop-down" [elements]="elements" (change)="onDropChange($event)"></forms-drop-down-list>
    </div>
    <forms-text-input [(ngModel)]="text" [autoSize]="autoSize"></forms-text-input>
    <div class="drop-button" (click)="dropList()">
        <svg viewBox="0 0 64 64">
            <use xlink:href="assets/svg/play.svg#solid"></use>
        </svg>
    </div>
</div>
