:host
{
    .editable-drop-down
    {
        display: flex;
        position: relative;

        // .drop
        // {
        // }

        .drop-button
        {
            // height: 3em;
            width: 1.2em;
            cursor: pointer;

            display: grid;
            place-items: center;

            
            padding-top: 0.3em;

            svg
            {
                fill: var(--color-main-lighten2);
                transform: rotate(90deg);
                transition: fill 150ms;
            }
        }

        .drop-button:hover
        {
            svg
            {
                fill: var(--color-main-lighten3);
            } 
        }


        .drop-button:active
        {
            svg
            {
                fill: var(--color-main-lighten);
                transition: fill 100ms;
            } 
        }


        .drop
        {
            pointer-events: none;
            width: 100%;
            height: 100%;

            position: absolute;

            top: 0em;
            left: 0em;
        }
    }

    .editable-drop-down.disabled
    {
        pointer-events: none;
        
    }
}