.main
{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    .head
    {
        display: flex;

        flex-direction: row;

        height: 100%;
        width: 100%;

        height: 4em;

        background-color: var(--color-master-demark, blue);

        border-bottom: 0.1em solid var(--color-accent);
        justify-content: space-between;

        .title
        {
            align-self: center;

            line-height: 2em;
            
            font-size: 2em;
        }

        .logout
        {
            // display: inline-block;

            // width: 30em;
        }
    }
     .body
     {
        flex-grow: 1;
        display: flex;
        flex-direction: row;

        .nav
        {
            width: 20em;

            background-color: var(--color-master, blue);
            
            .link
            {
                height: 4em;

                padding: 0em 1em;
                display: grid;
                place-items: center;
                border-bottom: 0.1em solid var(--color-accent);

                .label
                {
                    width: 100%;
                    font-size: 1.8em;
                }

            }
        }

        .content
        {
           flex-grow: 1; 
        }
     }
}