
<div class="main">
    <div class="head">
        <div class="start">

        </div>
        <div class="title">
            Les graines en joies
        </div>

        <div (click)="logout()" class="logout">
            <!-- sdafsdf -->
            <button type="submit" mat-button>Logout</button>
        </div>
        
    </div>
    <div class="body">
        <div class="nav">

            @for (link of links; track $index) 
            {
                <div class="link" [routerLink]="['/app/' + link.link]" [routerLinkActive]="'active'">
                    <div class="label">
                        {{link.label}}
                    </div>
                </div>
            }
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>