:host
{
    .drop-down-list
    {
        position: relative;
        height: 100%;
        width: 100%;

        .selected
        {
            height: 100%;
            width: 100%;

            font-size: 2.2em;

            color: var(--color-tomain);

            cursor: pointer;
        }

        .drop-arrow
        {
            display: none;

        }
    }

    .drop-down-list.disabled
    {
        .selected
        {
            color: var(--color-disabled)
        }
    }

}


:host(.with-arrow)
{
    --background-color: var(--dropdown-background-color, --color-main);

    .drop-down-list
    {

        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 0.4em;
        padding-right: 0.4em;

        .background
        {
            position: absolute;
            height: 100%;
            width: 100%;

            background-color: var(--background-color);

            
            transition: filter 300ms;

            z-index: -1;

            border-radius: 0.5em;

        }

        .selected
        {
            height: 100%;
            width: fit-content;

            font-size: 2.2em;

            color: var(--color-tomain);

            cursor: pointer;

            transition: color 300ms;
        }

        .drop-arrow
        {
            width: 1.2em;
            cursor: pointer;

            display: grid;
            place-items: center;


            padding-top: 0.3em;
            padding-left: 0.5em;

            svg
            {
                fill: var(--color-tomain);
                transform: rotate(90deg);
                transition: fill 150ms;
                
                transition: fill 300ms;
            }
        }
    }
    .drop-down-list:hover
    {
    //   box-shadow: 0 0 0.5em 0.1em var(--color-main);

        .background
        {
            filter: brightness(1.1);
        }

        .selected
        {
            color: var(--color-tomain-lighten);
        }
        .drop-arrow
        {
            svg
            {
                fill: var(--color-tomain-lighten);
            }
        }
    }
}





:host(.reactive)
{
    .drop-down-list
    {
        .selected
        {
            transition: filter 200ms;
        }

        .selected:hover
        {
            filter: brightness(1.2);
        }

        .selected:active
        {

            transition: filter 100ms;
            filter: brightness(0.8);
        }
    }
}



:host(.invisible)
{
    .drop-down-list
    {
        .selected
        {
            opacity: 0;
        }
    }
}

:host(.no-interaction)
{
    .drop-down-list
    {
        .selected
        {
            opacity: 0;
            z-index: -100;
            position: fixed;
            bottom: 100%;
            right: 100%;
        }
    }
}


//TODO ASSUME IHNERITANCE
:host(.no-vertical-padding)
{
    .drop-down-list
    {
        .cn
        {
            .drop
            {
                .element
                {
                    p
                    {
                        padding-top: 0em;
                        padding-bottom: 0em;
                    }
                }
            }

        }
    }
}


:host(.form)
{
    .drop-down-list
    {
        transition: border 300ms;
        border-bottom: 0.1em solid var(--color-main-lighten2);

        display: flex;
        width: calc(100% - 2em);

        justify-content: space-between;

        .selected
        {
            height: auto;
            width: auto;
            flex-grow: 1;
        }

        // TODO ASSUME IHNERITANCE
        .cn
        {
            min-width: 100%;
        }

        .drop-arrow
        {

            display: inline-block;
            // height: 3em;
            width: 1.2em;
            cursor: pointer;

            display: grid;
            place-items: center;


            padding-top: 0.3em;
            margin-left: 0.2em;

            svg
            {
                fill: var(--color-main-lighten2);
                transform: rotate(90deg);
                transition: fill 150ms;
            }
        }

        .drop-arrow:hover
        {
            svg
            {
                fill: var(--color-main-lighten3);
            }
        }
    }

    .drop-down-list:hover
    {
        border-bottom: 0.1em solid var(--color-main-lighten3);

        .drop-arrow
        {
            svg
            {
                fill: var(--color-main-lighten3);
            }
        }
    }

    .drop-down-list:active
    {
        border-bottom: 0.1em solid var(--color-highlight);

        .drop-arrow
        {
            svg
            {
                fill: var(--color-main-lighten);
                transition: fill 100ms;
            }
        }
    }

    .drop-down-list.disabled, .drop-down-list.disabled:active, .drop-down-list.disabled:hover
    {
        pointer-events: none;
        border-bottom: 0.1em solid var(--color-disabled);

        .drop-arrow
        {
            svg
            {
                fill: var(--color-disabled)
            }
        }
    }
}


:host(.form.display)
{
    .drop-down-list
    {
        pointer-events: none;
        border-bottom: none;

        .drop-arrow
        {
            display: none;
        }
    }

}
