<div class="drop-down-list" (click)="toggleDrop()" [class.disabled]="disabled" #cn>
    <div class="background">
        
    </div>
    <div class="selected">
        {{ getValueDisplay(selected) !== '' ? (getValueDisplay(selected) | translate) + sSuffix : '...' }}
    </div>


    <div class="drop-arrow">
        <svg viewBox="0 0 64 64">
            <use xlink:href="assets/svg/play.svg#solid"></use>
        </svg>
    </div>
</div>
