:host
{
    .ip4-input, .ip6-input
    {
        display: block;
        border-bottom: 0.1em solid var(--color-main-lighten2);
        //width: min-content;

        transition: border 300ms, width 300ms;

        .ip-con
        {    
            // box-shadow: 0em 0em 0.5em rgba(138, 138, 138, 0.33);
            display: flex;
            flex-wrap: wrap;
            // font-family: 'Courier New', Courier, monospace;

            .ip
            {
                font-size: 2.2em;
                display: inline-block;
                min-width: 3ch;
                text-align: center;
                // text-align: right;
                
                outline: none;
                white-space: nowrap;

                // font-family: 'Courier New', Courier, monospace;
            }

            .ip6 
            {
                font-size: 2.2em;
                display: inline-block;
                min-width: 4ch;
                text-align: center;
                // text-align: right;
                
                outline: none;
                white-space: nowrap;

                // font-family: 'Courier New', Courier, monospace;
            }

            .ip6-separator::after
            {
                font-size: 2.2em;
                margin: 0em 0.1em;
                content: ":";
                color: var(--color-main-lighten2);
            }
            .space::after
            {
                font-size: 2.2em;
                margin: 0em 0.1em;
                content: " ";
            }

            .separator::after
            {
                font-size: 2.2em;
                margin: 0em 0.1em;
                content: ".";
                color: var(--color-main-lighten2);
            }

            .port
            {
                display: flex;
            }

            .port-separator::after
            {
                font-size: 2.2em;
                margin: 0em 0.1em;
                content: ":";
                color: var(--color-main-lighten2);
            }

            .open-bracket::after
            {
                font-size: 2.2em;
                margin: 0em 0.1em;
                content: "[";
                color: var(--color-main-lighten2);
            }

            .close-bracket::after
            {
                font-size: 2.2em;
                margin: 0em 0.1em;
                content: "]";
                color: var(--color-main-lighten2);
            }
        }
    }

    .ip4-input.disabled, .ip6-input.disabled
    {
        pointer-events: none;
        border-bottom: 0.1em solid var(--color-disabled);

        .ip, .ip6
        {
            pointer-events: none;
        }
        .separator::after, .ip6-separator::after, .port-separator::after, .ip, .ip6
        {
            color: var(--color-disabled);
        }
    }
    
    .ip4-input:focus-within, .ip4-input:focus-within:hover,  .ip6-input:focus-within, .ip6-input:focus-within:hover
    {
        border-bottom: 0.1em solid var(--color-highlight); 

        .separator::after, .port-separator::after
        {
            color: var(--color-highlight);
        }
    }

    .ip4-input:hover, .ip6-input:hover
    {
        border-bottom: 0.1em solid var(--color-main-lighten3); 

        .separator::after, .port-separator::after
        {
            color: var(--color-main-lighten3);
        }
    }

    .btns
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1.5em;
        margin-top: 0.5em;
        margin-bottom: 0em;


        .btn
        {
            width: 100%;
            --color-text-button: var(--color-main-lighten3);        
            --color-bg-button: var(--color-main-darken05);
            --color-fg-button: var(--color-main-darken05);
        }

        .btn.selected
        {
            color: var(--color-tomain);
            --color-text-button: var(--color-tomain);
            --color-bg-button: var(--color-main-lighten);
            --color-fg-button: var(--color-main-lighten);
        }

        .btn.disabled
        {
            pointer-events: none;
            --color-text-button: var(--color-disabled);
            --color-bg-button: var(--color-main);
            --color-fg-button: var(--color-main);
        }
    }
}



:host-context(.ng-invalid.ng-touched)
{
    .ip4-input, .ip6-input
    {
        border-bottom: 0.1em solid var(--color-danger);
    }
}



:host-context(.display)
{
    .ip6-input, .ip4-input
    {        
        pointer-events: none;
        border-bottom: none;
    }
}