<div>
    <div [class.disabled]="disabled" *ngIf="isIpv4" class="ip4-input">
        <div class="ip-con">
            <span class="ip" [contentEditable]="!disabled && !onlyDisplay" #byte3 (input)="onInput(3)" (keydown)="onkeyDown($event, 3)" (focus)="onFocus(3)" (blur)="onBlur()"></span>
            
            <span class="separator"></span>

            <span class="ip" [contentEditable]="!disabled && !onlyDisplay" #byte2 (input)="onInput(2)" (keydown)="onkeyDown($event, 2)" (focus)="onFocus(2)" (blur)="onBlur()"></span>

            <span class="separator"></span>

            <span class="ip" [contentEditable]="!disabled && !onlyDisplay" #byte1 (input)="onInput(1)" (keydown)="onkeyDown($event, 1)" (focus)="onFocus(1)" (blur)="onBlur()"></span>

            <span class="separator"></span>

            <span class="ip" [contentEditable]="!disabled && !onlyDisplay" #byte0 (input)="onInput(0)" (keydown)="onkeyDown($event, 0)" (focus)="onFocus(0)"  (blur)="onBlur()"></span>


            <div class="port" [display]="port">
                <span class="port-separator"></span>
                <span class="ip" [contentEditable]="!disabled && !onlyDisplay" #portEl (input)="onInput(undefined)" (keydown)="onkeyDown($event, undefined)" (focus)="onFocus(undefined)" (blur)="onBlur()"></span>
            </div>
        </div>
    </div>
    <div [class.disabled]="disabled" *ngIf="!isIpv4" class="ip6-input">
        <div class="ip-con">
            <span class="open-bracket"></span>

            <span class="ip6" [contentEditable]="!disabled && !onlyDisplay" #byte7 (input)="onInput(7)" (keydown)="onkeyDown($event, 7)" (focus)="onFocus(7)"  (blur)="onBlur()"></span>

            <span class="ip6-separator"></span>

            <span class="ip6" [contentEditable]="!disabled && !onlyDisplay" #byte6 (input)="onInput(6)" (keydown)="onkeyDown($event, 6)" (focus)="onFocus(6)" (blur)="onBlur()"></span>

            <span class="ip6-separator"></span>

            <span class="ip6" [contentEditable]="!disabled && !onlyDisplay" #byte5 (input)="onInput(5)" (keydown)="onkeyDown($event, 5)" (focus)="onFocus(5)" (blur)="onBlur()"></span>

            <span class="ip6-separator"></span>

            <span class="ip6" [contentEditable]="!disabled && !onlyDisplay" #byte4 (input)="onInput(4)" (keydown)="onkeyDown($event, 4)" (focus)="onFocus(4)" (blur)="onBlur()"></span>
        </div>


        <div class="ip-con">
            <span class="ip6-separator"></span>

            <span class="ip6" [contentEditable]="!disabled && !onlyDisplay" #byte3 (input)="onInput(3)" (keydown)="onkeyDown($event, 3)" (focus)="onFocus(3)" (blur)="onBlur()"></span>
            
            <span class="ip6-separator"></span>

            <span class="ip6" [contentEditable]="!disabled && !onlyDisplay" #byte2 (input)="onInput(2)" (keydown)="onkeyDown($event, 2)" (focus)="onFocus(2)" (blur)="onBlur()"></span>

            <span class="ip6-separator"></span>

            <span class="ip6" [contentEditable]="!disabled && !onlyDisplay" #byte1 (input)="onInput(1)" (keydown)="onkeyDown($event, 1)" (focus)="onFocus(1)" (blur)="onBlur()"></span>

            <span class="ip6-separator"></span>

            <span class="ip6" [contentEditable]="!disabled && !onlyDisplay" #byte0 (input)="onInput(0)" (keydown)="onkeyDown($event, 0)" (focus)="onFocus(0)"  (blur)="onBlur()"></span>

            <span class="close-bracket"></span>

            <div class="port" [display]="port">
                <span class="port-separator"></span>
                <span class="ip" [contentEditable]="!disabled && !onlyDisplay" #portEl (input)="onInput(undefined)" (keydown)="onkeyDown($event, undefined)" (focus)="onFocus(undefined)" (blur)="onBlur()"></span>
            </div>
        </div>

    

    </div>   
    <div *ngIf="mode === 'both'" class="btns"> 
        <forms-button [class.disabled]="disabled" [ngClass]="{'selected': isIpv4}" class="btn" (onClick)="ipMode4()">IPV4</forms-button>
        <forms-button [class.disabled]="disabled" [ngClass]="{'selected': !isIpv4}" class="btn" (onClick)="ipMode6()">IPV6</forms-button>
    </div>
</div>