<div class="layout" [class.line]="layout==='line'" [class.column]="layout==='column'">
    <div class="template-element" *ngFor="let templateElement of children; let i = index" [display]="conditionDisplay(i)">
        <forms-template-element [enabled]="conditionEnable(i)" [displayed]="conditionDisplay(i)" [itemFieldCs]="conditionItemField(i)" [message]="messages[i]" [parentFormGroup]="parentFormGroup" [templateElement]="templateElement" ></forms-template-element>
    </div>
</div>


<!-- [class.lastel]="islastel(i)" -->