:host
{
    .layout
    {
        width: 100%;
        min-height: 100%;
        
        display: inline-flex;
        flex-direction: column;

        .template-element
        {
            margin: 0.1em 0;
        }
    }

    .layout.line
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;

        
        margin-right: 0em;
        
        .template-element
        {
            // margin-right: 3em;
            width: fit-content;
        }
    }

    .layout.line.lastel
    {
        margin-right: 0em;
    }

    .layout.column
    {
        
        // min-width: calc(25.4em * 2 + 3em);

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;

        // min-width: calc(25.4em * 2 + 3em);
    }
}


// :host-context(.line)
// {
//     .layout
//     {
//         display: flex;
//         flex-direction: row;

//         .template-element
//         {
//             flex-grow: 1; 
//             flex-wrap: wrap;
//         }
//     }
// }

// :host-context(.stacked)
// {
//     .layout
//     {
//         display: flex;
//         flex-direction: column;
//     }
// }