/* You can add global styles to this file, and also import other style files */

html, body 
{ 
    height: 100%; 
    width: 100%;

    font-size: 10px;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root
{
    --color-master: #ffc36a;
    --color-master-demark: #ffad31;
    --color-accent: rgb(255, 118, 77);

    --color-half-accent: rgb(255, 154, 123);
    --color-text: black;
    

}

* {
    user-select: none;
}