:host
{    
    .con
    {
        display: block;
        max-width: 100%;
        .text
        {
            display: inline-block;
            color: var(--color-main-lighten2);
            font-size: 1.8em;
            text-align: justify;
            text-overflow : ellipsis;
            word-wrap: break-word;
            white-space: pre-line;
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
    }
}