<div class="template-group" [class.noMargin]="noMargin" [class.invalid]="formGroup.invalid && formGroup.touched" [class.valid]="!formGroup.invalid" [class.disable]="formGroup.disabled" *ngIf="!hidden">
    
    <div class="collapse-hitbox" (click)="toggleCollapse()"></div>

    <div class="uncollapse" [display]="collapse" (click)="toggleCollapse()">
        <span>
            +
        </span>
    </div>
    
    <div class="group-content">
        <div class="label" (click)="toggleCollapse()"> 
            <h1>
               {{groupLabel}}
            </h1>
        </div>
        <div class="layout" [display]="!collapse">
            <forms-template-layout [message]="message" [parentFormGroup]="formGroup" [templateLayout]="templateGroup"></forms-template-layout>
        </div>
    </div>
</div>


<div *ngIf="hidden">
    <forms-template-layout [message]="message" [parentFormGroup]="formGroup" [templateLayout]="templateGroup"></forms-template-layout>
</div>