:host
{
    --collapse-hitbox: 1;


    .template-group
    {
        position: relative;
        display: inline-block;
        
        width: fit-content;
        
        min-width: calc(100% - var(--group-indentation) * 2);
        
        padding: 0em calc(var(--group-indentation) / 2);
        
        margin: 0em calc(var(--group-indentation) / 2);
        
        margin-bottom: var(--group-distantiation);
        
        background-color: var(--color-darker);
        
        border-left: 0.1em solid var(--color-main-lighten2);
        
        transition: border 300ms;

        .group-content
        {
            width: fit-content;

            .label
            {
                font-size: var(--label-fz, 1em);
                cursor: pointer;
                white-space: nowrap;

                h1
                {
                    margin: 0.2em 0em;
                    margin-left: calc(var(--group-indentation) / (2 * 3));
                    user-select: none;
                    font-weight: normal;
                    font-size: 3em;
        
                    color: var(--color-tomain)
                }
            }
    
            .layout
            {
                display: inline-block;
                width: fit-content;

            }
        }
        
        .collapse-hitbox
        {
            position: absolute;
            height: 100%;
            width: 2em;
            left: -0.5em;
            cursor: pointer;
            // background-color: gray;
        }

        .uncollapse
        {
            position: absolute;
            height: 100%;
            width: 2em;
            left: -0em;
            
            cursor: pointer;

            display: grid;

            place-items: center;

            span
            {
                font-size: 2em;
                color: var(--color-main-lighten2);
                transition: color 300ms;

                user-select: none;
            }
        }
    }


    .template-group:hover
    {
        border-left: 0.1em solid var(--color-main-lighten3);

        .uncollapse
        {
            span
            {
                color: var(--color-highlight);
            }
        }
    }

    .template-group.noMargin
    {
        margin: 0em 0em;
    }

    .template-group:focus-within
    {
        border-left: 0.1em solid var(--color-highlight);
    }

    // .invalid, .invalid:hover, .invalid:focus-within
    // {
    //     border-left: 0.1em solid var(--color-danger);
    // }
    .valid
    {
        border-left: 0.1em solid var(--color-valid);
    }

    .valid:hover
    {
        border-left: 0.1em solid var(--color-valid-lighten);
    }

    .valid:focus-within
    {
        border-left: 0.1em solid var(--color-valid-lighten2);
    }

    .template-group.disable
    {
        pointer-events: none;

        .group-content
        {
            .label
            {
                h1
                {
                    color: var(--color-disabled)
                }
            }
        }

    }
}
// INSTEAD OF RED WHEN INVALID GREEN WHEN GROUP IS VALID