:host
{
    --color-loader: var(--color-main-highlight);

    .search-input
    {
        height: calc(100% - 1px);
        width: 100%;

        display: flex;

        .text-input
        {
            flex-grow: 1;
        }

        .icon
        {
            --svg-padding: 0.3em;
            
            height: calc(2.8em - var(--svg-padding) * 2);
            width: calc(2.8em - var(--svg-padding) * 2);
            padding: var(--svg-padding);
            
            cursor: pointer;
            
            svg
            {
                fill: var(--color-main-lighten2);
                transition: fill 300ms;
            }
        }

        .icon.working
        {
            svg
            {
                display: none;
            }
        }

        
        border-bottom: 1px solid var(--color-main-lighten2);
        transition: border 300ms;
    }

    .search-input:hover
    {
        border-color: var(--color-main-lighten3);

        .icon svg
        {
            fill: var(--color-main-lighten3);
        }
    }

    .search-input:focus-within, .search-input:focus-within:hover
    {
        border-bottom: 1px solid var(--color-main-highlight); 

        .icon svg
        {
            fill: var(--color-main-highlight);
        }
    }
}


:host-context(.ng-invalid.ng-touched)
{
    .search-input
    {
        border-bottom: 1px solid var(--color-danger);
    }
}
