<div class="search-input" [class.disabled]="disabled" (keydown)="onKeyDown($event)" (keyup)="onKeyUp()">
    <div class="text-input">
        <forms-text-input class="full-width no-border" [(ngModel)]="text"></forms-text-input>
    </div>
    <div class="icon" [class.working]="working" (click)="onSearchClick()">
        
        <svg viewBox="0 0 64 64">
            <use xlink:href="assets/svg/magnifier.svg#default"></use>
        </svg>

        <div class="loader" *ngIf="working">
            <forms-loader></forms-loader>
        </div>

    </div>
</div>