<div class="date-range" [class.disabled]="disabled">
    <div class="cc" #cc (resize)="onResize($event)">
        <input type="text" name="" id="" #range>
    </div>
    <p>{{dateRangesStr}}</p>
</div>