<div class="check-input" (click)="toggle()" [class.disabled]="disabled">
    <label *ngIf="label">{{label}}</label>
    <div class="checkbox" [class.checked]="_checked">
        <span id="checkmark">
            ✔
        </span>
        <span id="cross">
            <!-- ✘ -->
            🗙
        </span>
    </div>
</div>