:host
{
    .check-input
    {
        display: flex;
        align-items: center;
        height: auto;
        user-select: none;

        label
        {
            font-size: 2.2em;
            margin-right: 0.2em;
        }

        .checkbox
        {
            font-size: 1.1em;
            height: 1.8em;
            width: 1.8em;
            background-color: rgba(127,127,127, 0.5);
            
            border: rgba(127,127,127, 0.7) 0.1em solid;

            transition: background-color 0.3s, border 0.2s;
            position: relative;

            #checkmark
            {
                position: absolute;
                top: -0.2em;
                left: 0.06em;
                font-size: 1.8em;
                
                color: transparent;
                transition: color 0.3s;
                font-weight: bold;
            }

            #cross
            {
                position: absolute;
                top: -0.27em;
                left: -0.03em;
                font-size: 1.8em;
                
                color: transparent;
                transition: color 0.3s;
                font-weight: bold;
            }
        }

        .checked
        {
            background-color: var(--color-main-lighten2);
            
            #checkmark
            {
                color: var(--color-main);
            }
        }

        
    }


    .check-input:hover
    {
        .checkbox
        {
            background-color: rgba(127,127,127, 1);
            border: var(--color-main-lighten2) 0.1em solid;
        }

        .checked
        {
            background-color: var(--color-main-lighten2);
            border: var(--color-main-lighten3) 0.1em solid;
        }
         
    }


    .check-input.disabled
    {
        pointer-events: none;

        label
        {
            color: var(--color-disabled);
        }

        .checkbox
        {
            background-color: var(--color-disabled);

            // #checkmark
            // {
            //     color: var(--color-main-darken);
            // }
        }

        .checked
        {
            #checkmark
            {
                color: var(--color-main-darken);
            }
        }
    }
}


:host(.cross)
{
    .check-input
    {
        .checkbox.checked
        {
            #cross
            {
                // opacity: 0;
                color: transparent;
            }
        }

        .checkbox
        {
            #cross
            {
                
                transition: color 0.3s;
                color: var(--color-main-darken);
            }
        }
    }
}

:host(.check-tomain)
{
    .check-input
    {
        .checkbox
        {
            
            background-color: rgba(127,127,127, 0.5);
            
            border: rgba(127,127,127, 0.7) 0.1em solid;

            

            #checkmark
            {
                color: transparent;
            }

            #cross
            {
                color: transparent;
            }
        }


        .checked
        {
            background-color: var(--color-tomain);
            #checkmark
            {
                color: var(--color-main);
            }
        }

        
    }

    .check-input:hover
    {

        .checkbox
        {
            background-color: rgba(127,127,127, 1);
        }

        .checked
        {
            background-color: var(--color-tomain);
            border: var(--color-tomain) 0.1em solid;
        }
    }
}


:host(.small-label)
{
    
    .check-input
    {
        label
        {
            font-size: 1.5em;
            margin-right: 0.2em;
        }
    }
}



:host(.display)
{
    .check-input
    {        
        pointer-events: none;

        .checkbox.checked
        {
            #cross
            {
                // opacity: 0;
                color: transparent;
            }
        }

        .checkbox
        {
            #cross
            {
                
                transition: color 0.3s;
                color: var(--color-main-darken);
            }
        }
    }
}


:host(.label-above)
{
    .check-input
    {        
        flex-direction: column;
        align-items: flex-start;

        label
        {
            white-space: nowrap;
            color: var(--color-main-lighten2);
            margin: 0;
            margin-bottom: 0.3em;
            transition: color 300ms;
        }
        // justify-content: left;
    }

    .check-input:hover
    {        
        flex-direction: column;
        align-items: flex-start;

        label
        {
            color: var(--color-main-lighten3);
        }
        // justify-content: left;
    }
}


:host(.line)
{
    .check-input
    {        
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        label
        {
            white-space: nowrap;
            color: var(--color-main-lighten2);
            margin: 0;
            // margin-bottom: 0.3em;
            transition: color 300ms;

            margin-right: 0.5em;
        }
        // justify-content: left;
    }

    .check-input:hover
    {        
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        label
        {
            color: var(--color-main-lighten3);
        }
    }
}

:host(.check-audits)
{
    .check-input
    {
        label
        {
            color: var(--color-main-highlight);
        }
        .checkbox
        {            
            background-color: var(--color-gray);            
            border: rgba(127,127,127, 0.7) 0.1em solid;
        }        
    }

    .check-input:hover
    {
        cursor: pointer;
        label
        {
            cursor: pointer;
            color: var(--color-bright);
        }
        .checkbox
        {
            background-color: var(--color-main-lighten);
        }
    }
}